@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-content1: var(--content1);
  --color-content2: var(--content2);
  --color-danger: var(--danger);
  --color-outline: var(--outline);
}

:root {
  --background: #fefefe;
  --primary: #e2121d;
  --content1: #ffffff;
  --danger: #5555;
  --outline: #0e8bdf63;
}

.dark {
  --background: #252728;
  --primary: #e2121d;
  --content1: #2c2f30;
  --content2: #272a2b;
  --danger: #ff0000;
  --outline: #0e8bdf63;
}

@layer base {
  * {
    @apply outline-outline;
  }
  body {
    @apply bg-background;
  }
}
